# xcode noise
Tickifier.xcodeproj/*.mode1v3
Tickifier.xcodeproj/*.pbxuser
Tickifier.xcodeproj/*.xcuserdatad
Tickifier.xcodeproj/*.xcuserstate
Tickifier.xcodeproj/*.perspective 
Tickifier.xcodeproj/*.perspectivev3
Tickifier.xcodeproj/*.pyc 
Tickifier.xcodeproj/*~.nib/
build/*

# Textmate - if you build your xcode projects with it
*.tm_build_errors

# old skool
.svn

# osx noise
.DS_Store
profile